# SBT
target
lib_managed
src_managed
boot
project/plugins/project

# Mac
.DS_Store

# Eclipse
.classpath
.launch
.metadata
.project
.scala_dependencies
.settings

# IntelliJ
.idea
*.iml
*.ipr
*.iws
out

# TextMate
*.tmproj
