# SBT
target
lib_managed
src_managed
boot
project/plugins/project

# Mac
.DS_Store

# Eclipse
.classpath
.launch
.metadata
.project
.scala_dependencies
.settings

# IntelliJ
.idea
*.iml
*.ipr
*.iws
out

# TextMate
*.tmproj

# TEX
*.aux
*.log
*.nav
*.out
*.snm
*.synctex.gz
*.toc
*.vrb
slides/advanced-scala.pdf
